@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
h2{
    font-weight: 600;
    /* position: relative; */
}

/* NAVBAR */
nav {
    transition: 1.5s;
}
.custom-toggler{
    border-color:brown;
}
.bld{
    font-weight: 500;
}

/* HOME */
.my-brand{
    color: #FDCB6E;
}

/* ABOUT */
/* .about{ */
    /* background-color: blanchedalmond; */
    /* padding-right: 25px; */
    /* position: relative; */
    /* width: 800px; */
/* } */
.paragraph{
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 16px;
}

/* h2::before {
    content   : '';
    position  : absolute;
    bottom    : -10px;
    width     : 80px;
    height    : 4px;
    background: #6c5ce71e;
} */
mark{
    background-color: #7B88FF;
    font-weight: 400;
    color: white;
}
.div-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-img img{
    z-index: 1000;
    border-radius: 10px;
}
.div-img::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: #7B88FF;
    transform: translate(30px, 30px);
}

/* VALUES */
.value img{
    max-width: 130px;
}
.my-card:hover{
    box-shadow: 10px 10px #7B88FF;
    outline: 2px solid #7B88FF;
}

/* PRODUCT SLIDER */
.my-pcard p{
    font-size: 0.73rem;
}
.my-pcard img{
    height: 300px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #7B88FF;
}
/* CONTACT */
.contact{
    margin: 0 calc(-40vw + 40.6%);
    background-color: #252525;
}
.all-ico{
    display: flex;
    flex-direction: column;
}
.ico-group{
    display: flex;
    align-items: center;
}
.box{
    width: 40px;
    height: 40px;
    background-color: #7B88FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
li{
    list-style-type: none;
}
li i{
   border-radius: 50%;
   background-color: #7B88FF;
}
.div-maps{
    display: flex;
    justify-content: flex-end;
}








/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .col-7{
        width: 100%;
    }
    .col-4{
        width: 100%;
        margin-bottom: 30px;
    }
    .my-col{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about{
        padding-right: 30px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .col-7{
        width: 100%;
    }
    section.p-5, section .p-5{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .col-4{
        width: 100%;
        margin-bottom: 30px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .col-7{
        width: 100%;
    }
    section.p-5, section .p-5{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .col-4{
        width: 100%;
        margin-bottom: 30px;
    }
    iframe{
        width: 100%;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}