@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #243b16;
    color: white;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
h2{
    font-weight: 600;
}

/* NAVBAR */
nav {
    transition: 1.5s;
}
.custom-toggler{
    border-color:brown;
}
.bld{
    font-weight: 500;
}

/* HOME */
.my-brand{
    color: #FDCB6E;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(18, 88, 88)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: #125858;
  } 
/* ABOUT */
.paragraph{
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 16px;
}

mark{
    background-color: #7B88FF;
    font-weight: 400;
    color: white;
}
.div-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-img img{
    z-index: 1000;
    border-radius: 10px;
}
.div-img::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background: #b49032;
    transform: translate(15px, 15px);
}

/* VALUES */
.value img{
    max-width: 130px;
}
.card{
    /* background-color: #243b16; */
    border: 1px solid #b49032;
}
.my-card:hover{
    box-shadow: 10px 10px #b49032;
    outline: 2px solid #b49032;
    /* outline: 2px solid #7B88FF; */
}

/* PRODUCT SLIDER */
.my-pcard p{
    font-size: 0.73rem;
}
.my-pcard img{
    height: 300px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #b49032;
}

/* LOGOS */
.logos img{
    max-width: 150px;
}


/* CONTACT */
.contact{
    margin: 0 calc(-40vw + 40.6%);
    background-color: #252525;
}
.all-ico{
    display: flex;
    flex-direction: column;
}
.ico-group{
    display: flex;
    align-items: center;
}
.box{
    width: 40px;
    height: 40px;
    background-color: #b49032;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
li{
    list-style-type: none;
}
li i{
   border-radius: 50%;
   background-color: #b49032;
}
.div-mail{
    display: flex;
    justify-content: flex-end;
}
.form-group label{
    color: #b49032;
}




/* small bgt kyk iphone lawas*/
@media (max-width: 400px) {
    h1.h1-brand{
        margin-bottom: 3rem;
    }
    .paragraph{
        font-size: 10px;
        text-align: justify;
        line-height: 14px;
    }
    .div-img img{
        width: 200px;
    }
    .div-img::before{
        width: 200px;
        height: 200px;
    }
    p.card-text{
        font-size: 10px;
        font-weight: 400;
    }
    .card img.img-value{
        width: 100px;
    }
    .ico-group p, .ico-group a, .ico-group li i{
        font-size: 10px;
    }
    .box{
        width: 25px;
        height: 25px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .row{
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 0;
        margin-left: 0;
    }
    img.img-me{
        max-height: 40px;
    }
    .paragraph.p-about{
        font-size: 13px;
        line-height: 25px;
    }
    .col-7{
        width: 100%;
    }
    .col-4{
        width: 100%;
        margin-bottom: 30px;
    }
    .my-col{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about{
        padding-right: 30px;
    }
    .carousel-item img{
        max-width: 200px;
        height: auto;
        margin: auto;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        width: 10px;
    }
    .logos img{
        width: 90px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .col-7{
        width: 100%;
    }
    section.p-5, section .p-5{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .col-4{
        width: 100%;
        margin-bottom: 30px;
    }
    .logos img{
        max-width: 110px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .col-7{
        width: 100%;
    }
    section.p-5, section .p-5{
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    .col-4{
        width: 100%;
        margin-bottom: 30px;
    }
    iframe{
        width: 100%;
    }
    .all-component{
        display: flex;
        flex-direction: column-reverse;
    }
    .div-mail{
        justify-content: center;
        width: 100%;
    }
}

/* wide-screen */
@media (min-width: 1290px) {
    .my-brand{
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
    h1.h1-brand{
        font-size: 4rem;
        line-height: 20px;
        margin-bottom: 5rem;
    }
    a.btn{
        padding: 1rem 2rem;
        font-size: 1.1rem;
    }
}